.container-trailers {
    padding-top: 120px;
    padding-bottom: 150px;
    background-color: #131416;
    margin-top: 750px;

}
.trailers{
   color: aliceblue;

}

.cocmos{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
/* 
.Slider{
    display: flex;
    gap: 10px;
} */
