.footer {
  background-color: #333;
  color: #fff;
  padding: 0px !important;
}

.footer-block {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.footer-info {
  text-align: left;
}

.footer-info h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-info p {
  margin: 10px 0;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.footer-down {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-icons {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-right: 200px;
  margin-top: -90px;
  

}

.phone {
  background-color: red;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-button {
  margin-left: 850px;
  width: 150px;
  height: 33px;
  padding: 5px 20px 5px 20px;
  border-radius: 36px 36px 36px 36px;
  color: #fff;
  background: #EF4234;
}
.footer-button1{
  margin-top: 10px;
  margin-left: 10px;

 
}
.container {
  max-width: 1600px;
  margin: auto;
  width: 100%;
}

.MuiContainer-maxWidthLg {
  padding: 0px !important;
}